.attribute-control {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .attribute-control div {
    margin-right: 20px;
  }
  
  .attribute-control button {
    padding: 5px 10px;
    margin: 0 5px;
  }